html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
a:focus { outline: 1px dotted; }
hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
  margin-top: -1px;
}
.gargantuan {
  font-weight: bold;
  font-size: 6em;
  line-height: 1em;
}
.enormous {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.2em;
}
.giant {
  font-weight: bold;
  font-size: 4em;
  line-height: 1.125em;
}
.huge {
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5em;
}
.h1 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.2em;
}
.h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
}
.h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 18px;
}
.h4 {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 18px;
}
.h5 {
  font-weight: bold;
  font-size: 1em;
  line-height: 18px;
}
.h6 {
  font-weight: normal;
  font-size: 1em;
  line-height: 18px;
}
h1 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.2em;
}
h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
}
h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 18px;
}
h4 {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 18px;
}
h5 {
  font-weight: bold;
  font-size: 1em;
  line-height: 18px;
}
h6 {
  font-weight: normal;
  font-size: 1em;
  line-height: 18px;
}
ol { list-style: decimal; }
ul { list-style: none; }
li { margin-left: 30px; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 18px; }
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.clear { clear: both; }
body {
  background-color: #ffffff;
  color: #2b2b2b;
}
a {
  color: #5b5b5b;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
#forkme {
  position: absolute;
  top: 0;
  right: 0;
}
pre {
  padding: 18px;
  overflow: auto;
  background-color: #d9d5d2;
  color: #333333;
}
h2 { font-style: italic; }
#wrapper {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  background-color: #efefef;
}
#wrapper #header {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  font-family: Georgia;
  color: #ff0000;
}
#wrapper #header a { color: #ff0000; }
#wrapper #header h1 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 6em;
  line-height: 1em;
  font-weight: normal;
  margin-bottom: 0;
}
#wrapper #header p {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 760px;
  padding-left: 180px;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}
#wrapper #sidebar {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  left: 720px;
  text-align: center;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#wrapper #sidebar h3 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.2em;
}
#wrapper #intro {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  left: -240px;
}
#wrapper #intro ul li {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
#wrapper #intro ul li:first-child { margin-left: 0; }
#wrapper #intro ul li:last-child { margin-right: 0; }
#wrapper #examples {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
#wrapper #tutorial {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
#wrapper #tutorial #markup {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  padding-left: 60px;
  margin-left: 0;
}
#wrapper #tutorial #less {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  padding-right: 60px;
  margin-right: 0;
}
#wrapper #footer {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
