/**
 * Grid LESS
 *
 * Horizontal and vertial grid system for LESS
 *
 * Copyright 2009 Greg Thornton <xdissent@gmail.com>
 * License: http://creativecommons.org/licenses/by-sa/3.0/us/
 */
 
@import url("reset.less");
@import url("text.less");
 
@grid_width: 960px;
@grid_columns: 16;
@grid_margin: 10px;

// Determine grid column width
@grid_column_width: @grid_width / @grid_columns;

// Grid namespace
#grid {

    // Grid container
    .container {
    
        width: @grid_width;
        margin-left: auto;
        margin-right: auto;
    }
    
    // Grid column
    .grid(@columns: @grid_columns) {
    
        display: inline;
        float: left;
        position: relative;
        margin-left: @grid_margin;
        margin-right: @grid_margin;
        width: @grid_column_width * @columns - 2 * @grid_margin;
    }
    
    // The first grid inside another grid.
    .alpha {
        margin-left: 0;
    }
    
    // The last grid inside another grid.
    .omega {
        margin-right: 0;
    }

    // Prepend blank columns
    .prefix(@prefix) {
    
        padding-left: @grid_column_width * @prefix;
    }
    
    // Append the grid blank columns
    .suffix(@suffix) {
    
        padding-right: @grid_column_width * @suffix;
    }
    
    // Pull to the left by column widths
    .pull(@pull) {
    
        left: 0 - @grid_column_width * @pull;
    }
    
    // Push to the left by column widths
    .push(@push) {
    
        left: @grid_column_width * @push;
    }
}