@import url(reset.less);
@import url(text.less);

@grid-container(@grid-width: 960px, @grid-columns: 12px, @grid-margin: 10px, @grid-padding: 0px) {
    /* This should take into consideration margins and padding */
    @grid-column-width: @grid-width / @grid-columns;
    margin-left: auto;
    margin-right: auto;
    width: @grid-width;
}

@grid(@grid-columns: 1, @grid-prefix: 0, @grid-suffix: 0) {
    display: inline;
    float: left;
    margin-left: @grid-margin;
    margin-right: @grid-margin;
    padding-left: @grid-padding + @grid-prefix * @grid-column-width;
    padding-right: @grid-padding + @grid-suffix * @grid-column-width;
    width: @grid-column-width * @grid-columns - 2 * @grid-margin - 2 * @grid-padding;
}

@alpha() {
    margin-left: 0;
}

@omega() {
    margin-right: 0;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}